<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ISpy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7802FAF91EE71C4E00647B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7802FB0D1EE71C4E00647B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7802FB181EE71C4E00647B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
