<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HotelManzana.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78A1B4E51EF18E8F00204D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78A1B4F91EF18E9000204D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78A1B5041EF18E9000204D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
