<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RainbowTabs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>788624BC1EE0DFB600769305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>788624D01EE0DFB700769305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>788624DB1EE0DFB700769305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
